<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Home"
        android:allowBackup="true"
        android:icon="@drawable/acm"
        android:label="IPEC ACM"
        android:roundIcon="@drawable/acm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".student_dashbord"></activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".fullscreenactivity" />
        <activity android:name=".Check" />
        <activity android:name=".DisplayTask" />
        <activity android:name=".sig_selection" />
        <activity android:name=".ChooseSig" />
        <activity android:name=".Login" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".about_us" />
        <activity android:name=".CoreMembers" />
        <activity android:name=".primeCore" />
        <activity android:name=".teamPage" />
        <activity android:name=".Gallery" />
        <activity android:name=".Notices" />
        <activity android:name=".AddFaculty" />
        <activity android:name=".Test" />
        <activity
            android:name=".animation"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>